body{
    font-family:monospace;
    width: 80%;
    margin: 0 auto;
    background-color: black;    
    color: whitesmoke;
}       
header,main,footer{
    /* border: 2px solid rgb(26, 25, 25); */
}
/* nav */
nav{
    /* padding: 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0px 40px;
}
.nav-logo{
    font-size: 2rem;
}
.nav-links{
    gap: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.2rem;
}
a {
    color: gainsboro;
    text-decoration: none;
    text-decoration-color: white;
}

.loadResume{
    border: 2px solid rgb(9, 168, 231);
    padding: 3px 8px;
}

/* main section */

section {
    padding-top: 4vh;
    height: 100vh;
    margin: 1rem 8rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* profile */

.profile {
 text-align: center;
 /* padding: 100px 150px; */
 height: 80vh;
 /* background-color: aqua; */
}
.profile-txt-p1{
    font-size: 2rem;
}
.profile-txt-title{
    font-size: 4.8rem;
}
.profile-txt-p2{
    padding-top: 20px;
    font-size: 2.5rem;
}
.profile-obj{
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
}
.profile-social-container{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    gap: 40px;
}
.linkedIn , .gitHub{
    font-size: 1rem;
    color: blue;
}

/* aboutme */

.about{
    text-align:center;
}

.about-txt-text{
    font-size: 2.5rem;
    font-weight: 600;
}

.about-details-edu{
    text-align: left;
}

.edu-title{
    font-size: 2rem;
    padding-top: 50px;
} 

.edu-details{
    border: 1px solid orangered;
    margin: 20px 0px;
    padding: 20px;
    display: grid;
  grid-template-columns: 1fr auto; /* left takes space, right fits content */
  align-items: center;
  gap: 5px;
}

.edu-details .course{
    font-size: 1.6rem;
    padding-bottom: 10px;
      grid-column: 1;
      
}
.edu-details .university{
    font-size: 1.6rem;
    padding-bottom: 10px;
      grid-column: 1;

}
.edu-details .year{
    font-size: 1.6rem;
    grid-column: 2;
    justify-self: start;
}

/* Skills */
.skills-txt-container{
    text-align: center;
}
.skills-txt-text{
    font-size: 2.5rem;
}
/* .skills-details-container{
    display: flex;
}
.skills-details-box1{
    
    border: 2px solid greenyellow;
}
.skills-details-box2{
  
} */
 .skills-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* equal width */
  gap: 20px;
}

.skills-details-box {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  margin-top: 50px;
  
}

.skills-box-title{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 0px;
}
.skills-box{
    display: flex;
  flex-wrap:wrap ;
}
.skills-details-box article{
    font-size: 1.5rem;
    padding: 5px 8px;
    border: 1px solid orange;
    width: max-content;
    margin: 5px;
}
.projects-txt-text{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 0px;
}
.projects-container{
    display: grid;
  grid-template-columns: 1fr 1fr; /* equal width */
  gap: 20px;
}
.projects-container article{
     font-size: 1.5rem;
    padding: 5px 8px;
    border: 1px solid orange;
    margin: 5px;
}

/* contact */

.contact-txt-t1 ,.contact-txt-t2{
 text-align: center;
}

.contact-txt-t1{
    font-size: 1.5rem;
}
.contact-txt-t2{
    font-size:2.5rem;
}
.contact-info-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.contact-info{
    font-size: 1.5rem;
}